
html {
    scroll-behavior: smooth;
}
*{
    margin:0;
    padding:0;
    font-family:Arial, sans-serif;
}
/*SLIDER YETA*/

.hero{
    height:350px;
    position: relative;
    background: #0f4c35;
    color: white;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    text-align: center;
}
.emoji {
    font-size: 80px;
    margin-bottom: 10px;
    opacity: 1;
}

.slide{
    display: none;
    position: absolute;
    width: 100%;
    padding: 20px;
}

.slide.active{
    display: block;
}

.slide span{
    color: #a1ffd5;
}
.slide a{
    display:inline-flex;
    margin-top: 15px;
    padding: 12px 25px;
    background: #a1ffd5;
    color: #0f4c35;
    text-decoration: none;
    border-radius: 30px;
    font-weight: bold;
}
.hero h1{
    font-size:32px;
}
.hero a{
    font-size:12px;
}
/*yetasamma*/
body{
    background:#0f4c35;

}
.nav{
    display:flex;
    justify-content:space-between;
    align-items:right;
    padding:15px;
    background:#0f4c35;
}
.logo{
    display:flex;
    flex-direction:column;
    align-items:center;
    gap: 5;
}
.nav button{
    color:white;
    background:none;
    border:none;
    margin-right:10px;
    cursor:pointer;
    font-weight:bold;
    margin-top:10px;
}
.nav button:hover{
    background:none;
    color:rgb(133, 196, 162);
    transform:scale(1.06);
    transition:transform 0.2s;
}
.logo img{
    height: 50px;
    width: auto;
    margin-top: -25px;
    transform: scale(1.5);
}
.logo p{
    color:white;
    margin-top:-10px;
    margin-left:3.5px;
    font-size: 12px;
    font-style:italic;
}
.section{
    display:flex;
    justify-content:space-between;
    align-items:center;
    width:90%;
    margin:40px auto;
    gap:40px;
}

/*img slide ko section*/
.text{
    flex:1;
    color:#ffffff;
}

.text h2{
    font-size:30px;
    margin-bottom:10px;
}

.text p{
    line-height:2.5;
}
.imgslider{
    width:450px;
    height:320px;
    position:relative;
    overflow:hidden;
    border-radius:15px;
    background:#000;
}

.imgSlide{
    width:100%;
    height:100%;
    object-fit:fill; 
    position:absolute;
    top:0;
    left:0;
    opacity:0;
    transition:opacity 1s ease;
}

.activeImg{
    opacity:1;
}
.bottom{
    background: #ececec;
    padding: 60px 20px;
    margin: 80px auto;
    max-width: 900px;
    text-align: center;
    border-radius: 12px;
    border-left: 6px solid #0bf48c;
    border-right: 6px solid #0bf48c;
}
.bottom p{
    color: #333;
    font-size:30px;
    margin-bottom:10px;
    transition:color 0.3s;
    animation: pulse 2s infinite;
}
    @keyframes pulse {
        0% { color: #0f4c35; }
        50% { color: #b9930c; }
        100% { color: rgb(0, 136, 61); }
    }
.bottom h1{
    margin:20px ;
    color:#0f4c35;
    transform:scale(0.6);
    color:(0, 136, 61);
;
}

.bottom button{
    color:white;
    padding:12px 20px;
    margin:10px;
    border:none;
    border-radius:5px;
    cursor:pointer;
    background:#0f4c35;
    font-weight:bold;
}
button:hover{
    background:rgb(0, 118, 47);
    transition:background 0.4s;
    transform:scale(1.05);
}
.featured-food{
    margin-top:80px;
}
.featured-food h2{
    color:white;
    margin-bottom:30px;
}
.food-container{
    display:flex;
    justify-content:center;
    gap:25px;
    flex-wrap:wrap;
}
.food-card{
    background:#ececec;
    width:250px;
    padding:20px;
    border-radius:15px;
    box-shadow:0 2px 10px rgba(0,0,0,0.1);
}
.food-card img{
    width:100%;
    height: 200px;;
    object-fit:fit;
    border-radius:10px;
}
.food-card p{
  font-size:14px;
  font-style: italic;
}
.food-card button{
    margin-top:15px;
    padding:10px 15px;
    border:none;
    border-radius:5px;
    background:#0f4c35;
    color:white;
    cursor:pointer;
}
.food-card button:hover{
    background:rgb(0,118,47);
    transition:background 0.3s;
}
.food-card:hover{
    transform:translateY(-5px);
    transition:0.5s;
}
.roles h2{
    color:white;
    margin-bottom:30px;
}
.role-container{
    display:flex;
    justify-content:center;
    gap:25px;
    flex-wrap:wrap;
}
.role-card{
    width:250px;
    padding:25px;
    background:#ececec;
    border-radius:15px;
    box-shadow:0 2px 10px rgba(0,0,0,0.1);
}
.role-card h3{
    color:#0f4c35;
    margin-bottom:10px;
}
footer{
    color:rgb(255, 255, 255);
    text-align:center;
    padding:30px;
    margin-top:50px;
}
footer h3{
    margin-bottom:10px;
}

footer p{
    margin:5px 0;
}

@media(max-width:768px){

    .nav{
        flex-direction:column;
        gap:15px;
    }

    .main h1{
        font-size:40px;
    }

    .main{
        padding:40px 20px;
    }

    .work{
        padding:40px 20px;
    }

    .main-details{
        flex-direction:column;
        align-items:center;
    }
    
}
